html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background: #fefefe;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
