.portfolio p a {
  color: #333;
  text-decoration: underline;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 240, 255);
  padding: 20px;
  margin: 0;
}

.name {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.email {
  font-family: 'Roboto', sans-serif;
  margin: 5px 0 0 0;
}

.collapsed-nav {
  font-family: 'Roboto', sans-serif;
  padding: 5px 0 0 0;
  text-align: right;
  text-decoration: underline;
}

#nav-menu {
  display: none;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

#nav-menu.open {
  display: block;
}

#nav-menu a {
  position: relative;
  display: block;
  padding: 10px 0;
  color: #666;
}

.portfolio {
  margin: 20px 20px;
}

.role-key {
  font-weight: bold;
  margin: 0;
}

.role p.role-value {
  margin: 0 0 10px 0;
  color: #888;
  line-height: 1.3;
}

.portfolio p {
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
}

.portfolio img {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 800px) {
  .nav-header {
    margin-top: 40px;
    background-color: inherit;
    justify-content: flex-start;
  }

  .name {
    width: 160px;
    margin: 0 40px;
  }

  .name a {
    color: #888;
  }

  .collapsed-nav {
    display: none;
  }

  #nav-menu {
    display: block;
    padding: 5px 0 0 0;
  }

  #nav-menu a {
    /*position: initial;*/
  }

  #nav-menu a {
    display: inline;
    padding: 5px;
    margin-right: 20px;
  }

  .portfolio {
    display: flex;
    margin: 20px 60px;
  }

  .role {
    width: 205px;
    flex-basis: 205px;
  }

  .role {
    padding-top: 81px;
  }

  .info {
    width: calc(100% - 205px);
  }

  .selected {
    background-color: rgb(240, 240, 255);
  }

  .images {
    display: flex;
    flex-wrap: wrap;
  }

  .images img {
    margin-left: -4.2%;
  }
}
