html {
  scroll-behavior: smooth;
}
body {
  margin: 0 auto;
  background: #fefefe;
}
/* Header */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

.header {
  padding-bottom: 50px;
}

.header p, h1 {
  padding-left: 20px;
}

.name {
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  margin: 0;
  font-size: 22px;
}

.email {
  font-family: 'Roboto', sans-serif;
  margin: 5px 0 0 0;
}

.email a {
  text-decoration: none;
  color: #000;
}

.tag {
  margin-top: 200px;
  font-weight: normal;
}

.background {
  position: absolute;
  top: 0;
}

.background img {
  object-fit: cover;
  width: 100%;
  max-width: 1024px;
  height: 200px;
  object-position: 0 25%;
  filter: opacity(20%);
}

.arrow {
  width: 100%;
  text-align: center;
}

.arrow img {
  width: 16px;
}


@media only screen and (min-width: 800px) {
  body {
    margin: 0 auto;
  }

  /* header */
  .header {
    margin-top: 80px;
    padding-bottom: 0;
    width: 100%;
    height: 600px;
  }

  .background {
    width: calc(100% - 250px);
    margin-left: 250px;
    top: 40px;
  }

  .background img {
    max-width: inherit;
    height: inherit;
  }

  p.name {
    margin: 0;
    padding-top: 20px;
    font-size: 22px;
  }

  p.email {
    margin-top: 0;
  }

  .tag {
    font-size: 54px;
    margin-top: 150px;
    padding-left: 17px;
  }

  .arrow {
    text-align: left;
    margin-left: 20px;
  }
}

/* Client */

.client {
  display: flex;
  flex-wrap: wrap-reverse;
}

.image img {
  max-width: 100%;
  height: auto;
}

.client {
  width: 100%;
  margin-top: 80px;
}

.blurb {
  margin: 0 20px;
}

.blurb p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.fhc {
  background-color: rgba(18, 120, 198,.20);
}

.mfd {
  background-color: rgba(200, 200, 200, .20);
}

@media only screen and (min-width: 800px) {
  .client {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .blurb {
    margin-top: 100px;
  }

  .blurb h2 {
    white-space: nowrap;
  }
}

